<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>location</key>
	<array>
		<dict>
			<key>lat</key>
			<string>23.1705761</string>
			<key>lon</key>
			<string>113.4436925</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.1705761</string>
			<key>lon</key>
			<string>113.4436925</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.1691831</string>
			<key>lon</key>
			<string>113.4438545</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.1691661</string>
			<key>lon</key>
			<string>113.4438375</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.1691831</string>
			<key>lon</key>
			<string>113.4438705</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.1691991</string>
			<key>lon</key>
			<string>113.4438545</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.1691991</string>
			<key>lon</key>
			<string>113.4438875</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.1691831</string>
			<key>lon</key>
			<string>113.4438875</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.16776026</string>
			<key>lon</key>
			<string>113.4441099</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.16504326</string>
			<key>lon</key>
			<string>113.4440599</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.16247726</string>
			<key>lon</key>
			<string>113.4445439</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.16119326</string>
			<key>lon</key>
			<string>113.4446599</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.16106026</string>
			<key>lon</key>
			<string>113.4446769</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.16102726</string>
			<key>lon</key>
			<string>113.4446939</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.15936026</string>
			<key>lon</key>
			<string>113.4447099</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.15632156</string>
			<key>lon</key>
			<string>113.4445497</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.15478756</string>
			<key>lon</key>
			<string>113.4445167</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.15462156</string>
			<key>lon</key>
			<string>113.4445167</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.15470456</string>
			<key>lon</key>
			<string>113.4446497</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.15592156</string>
			<key>lon</key>
			<string>113.4447497</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.15760456</string>
			<key>lon</key>
			<string>113.4448667</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.15773756</string>
			<key>lon</key>
			<string>113.4448667</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.15976026</string>
			<key>lon</key>
			<string>113.4448939</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.16051026</string>
			<key>lon</key>
			<string>113.4448769</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.16306026</string>
			<key>lon</key>
			<string>113.4445269</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.16606026</string>
			<key>lon</key>
			<string>113.4446939</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.16824526</string>
			<key>lon</key>
			<string>113.4449149</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.1700991</string>
			<key>lon</key>
			<string>113.4449375</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.1704661</string>
			<key>lon</key>
			<string>113.4449545</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.1706691</string>
			<key>lon</key>
			<string>113.4449725</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.1714661</string>
			<key>lon</key>
			<string>113.4447545</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.1722991</string>
			<key>lon</key>
			<string>113.4444545</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.1739331</string>
			<key>lon</key>
			<string>113.4444875</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.1755331</string>
			<key>lon</key>
			<string>113.4445375</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.1772161</string>
			<key>lon</key>
			<string>113.4446205</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.1776331</string>
			<key>lon</key>
			<string>113.4448875</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.1777161</string>
			<key>lon</key>
			<string>113.4451875</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.1777491</string>
			<key>lon</key>
			<string>113.4456205</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.17801876</string>
			<key>lon</key>
			<string>113.4482178</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.17832392</string>
			<key>lon</key>
			<string>113.4493267</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.17900692</string>
			<key>lon</key>
			<string>113.4512927</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.17962392</string>
			<key>lon</key>
			<string>113.4526427</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.17995692</string>
			<key>lon</key>
			<string>113.4532927</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.18000692</string>
			<key>lon</key>
			<string>113.4533597</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.18115692</string>
			<key>lon</key>
			<string>113.4547767</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.18123992</string>
			<key>lon</key>
			<string>113.4548427</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.18292392</string>
			<key>lon</key>
			<string>113.4559597</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.18303992</string>
			<key>lon</key>
			<string>113.4560427</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.18373992</string>
			<key>lon</key>
			<string>113.4567267</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.18375692</string>
			<key>lon</key>
			<string>113.4567097</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.18385692</string>
			<key>lon</key>
			<string>113.4568097</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.18498743</string>
			<key>lon</key>
			<string>113.4582719</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.18538743</string>
			<key>lon</key>
			<string>113.4588879</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.18537143</string>
			<key>lon</key>
			<string>113.4590379</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.18530443</string>
			<key>lon</key>
			<string>113.4591549</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.18405443</string>
			<key>lon</key>
			<string>113.4606049</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.18372143</string>
			<key>lon</key>
			<string>113.4610379</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.18387143</string>
			<key>lon</key>
			<string>113.4609049</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.18432143</string>
			<key>lon</key>
			<string>113.4604379</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.18543743</string>
			<key>lon</key>
			<string>113.4593549</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.18632143</string>
			<key>lon</key>
			<string>113.4587379</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.18782143</string>
			<key>lon</key>
			<string>113.4571219</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.18942851</string>
			<key>lon</key>
			<string>113.4554471</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.18962851</string>
			<key>lon</key>
			<string>113.4552311</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.19176151</string>
			<key>lon</key>
			<string>113.4533471</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.19351151</string>
			<key>lon</key>
			<string>113.4520141</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.19399451</string>
			<key>lon</key>
			<string>113.4516641</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.19431151</string>
			<key>lon</key>
			<string>113.4517471</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.19439451</string>
			<key>lon</key>
			<string>113.4520971</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.19446151</string>
			<key>lon</key>
			<string>113.4524811</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.19486151</string>
			<key>lon</key>
			<string>113.4539971</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.19519451</string>
			<key>lon</key>
			<string>113.4547311</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.19562851</string>
			<key>lon</key>
			<string>113.4553311</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.19581151</string>
			<key>lon</key>
			<string>113.4555971</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.19754202</string>
			<key>lon</key>
			<string>113.4577766</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.19969527</string>
			<key>lon</key>
			<string>113.4605918</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.20177927</string>
			<key>lon</key>
			<string>113.4631918</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.20209527</string>
			<key>lon</key>
			<string>113.4633918</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.20452927</string>
			<key>lon</key>
			<string>113.4649918</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.20486227</string>
			<key>lon</key>
			<string>113.4656758</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.20492927</string>
			<key>lon</key>
			<string>113.4658758</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.20619424</string>
			<key>lon</key>
			<string>113.4695822</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.20769424</string>
			<key>lon</key>
			<string>113.4733152</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.20837951</string>
			<key>lon</key>
			<string>113.4754766</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.20912954</string>
			<key>lon</key>
			<string>113.4777117</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.20927954</string>
			<key>lon</key>
			<string>113.4781457</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.21066254</string>
			<key>lon</key>
			<string>113.4808287</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.21229554</string>
			<key>lon</key>
			<string>113.4833787</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.21364554</string>
			<key>lon</key>
			<string>113.4865957</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.21520609</string>
			<key>lon</key>
			<string>113.4899322</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.21672209</string>
			<key>lon</key>
			<string>113.4926152</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.21737209</string>
			<key>lon</key>
			<string>113.4930482</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.21757209</string>
			<key>lon</key>
			<string>113.4931322</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.22102344</string>
			<key>lon</key>
			<string>113.4937067</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.22140744</string>
			<key>lon</key>
			<string>113.4937067</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.22469044</string>
			<key>lon</key>
			<string>113.4936397</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.22504044</string>
			<key>lon</key>
			<string>113.4938237</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.22760744</string>
			<key>lon</key>
			<string>113.4968567</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.22837004</string>
			<key>lon</key>
			<string>113.4972196</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.23058825</string>
			<key>lon</key>
			<string>113.4993603</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.23125525</string>
			<key>lon</key>
			<string>113.5003103</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.23175525</string>
			<key>lon</key>
			<string>113.5009443</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.23368825</string>
			<key>lon</key>
			<string>113.5035943</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.23393825</string>
			<key>lon</key>
			<string>113.5039103</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.23675525</string>
			<key>lon</key>
			<string>113.5067603</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.24014359</string>
			<key>lon</key>
			<string>113.509054</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.24281059</string>
			<key>lon</key>
			<string>113.512171</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.24377759</string>
			<key>lon</key>
			<string>113.512971</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.24592759</string>
			<key>lon</key>
			<string>113.514254</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.24604359</string>
			<key>lon</key>
			<string>113.514387</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.24742759</string>
			<key>lon</key>
			<string>113.515804</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.24886304</string>
			<key>lon</key>
			<string>113.5164838</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.25070137</string>
			<key>lon</key>
			<string>113.5177811</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.25130137</string>
			<key>lon</key>
			<string>113.5187651</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.25178537</string>
			<key>lon</key>
			<string>113.5198811</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.25345137</string>
			<key>lon</key>
			<string>113.5241981</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.25446964</string>
			<key>lon</key>
			<string>113.5290814</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.25593664</string>
			<key>lon</key>
			<string>113.5324144</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.25673664</string>
			<key>lon</key>
			<string>113.5330144</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.25957314</string>
			<key>lon</key>
			<string>113.5330161</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.25994014</string>
			<key>lon</key>
			<string>113.5328991</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.26292314</string>
			<key>lon</key>
			<string>113.5323661</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.26345714</string>
			<key>lon</key>
			<string>113.5323491</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.26435714</string>
			<key>lon</key>
			<string>113.5325831</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.26510714</string>
			<key>lon</key>
			<string>113.5331831</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.26567314</string>
			<key>lon</key>
			<string>113.5341491</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.26582314</string>
			<key>lon</key>
			<string>113.5344331</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.26605714</string>
			<key>lon</key>
			<string>113.5348991</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.26743976</string>
			<key>lon</key>
			<string>113.5378347</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.26937725</string>
			<key>lon</key>
			<string>113.5418916</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.26972725</string>
			<key>lon</key>
			<string>113.5432586</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.26979886</string>
			<key>lon</key>
			<string>113.5467096</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.27001586</string>
			<key>lon</key>
			<string>113.5512766</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.26913186</string>
			<key>lon</key>
			<string>113.5555596</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.26919886</string>
			<key>lon</key>
			<string>113.5560426</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.26966776</string>
			<key>lon</key>
			<string>113.5580352</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.27060076</string>
			<key>lon</key>
			<string>113.5600682</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.27235076</string>
			<key>lon</key>
			<string>113.5632512</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.27275076</string>
			<key>lon</key>
			<string>113.5635182</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.27523376</string>
			<key>lon</key>
			<string>113.5644012</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.27558376</string>
			<key>lon</key>
			<string>113.5644682</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.27863863</string>
			<key>lon</key>
			<string>113.5648283</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.27980563</string>
			<key>lon</key>
			<string>113.5651453</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.28075563</string>
			<key>lon</key>
			<string>113.5662453</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.28078863</string>
			<key>lon</key>
			<string>113.5663283</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.28161823</string>
			<key>lon</key>
			<string>113.5681858</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.28283523</string>
			<key>lon</key>
			<string>113.5703528</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.28296823</string>
			<key>lon</key>
			<string>113.5706188</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.28391823</string>
			<key>lon</key>
			<string>113.5728858</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.28401823</string>
			<key>lon</key>
			<string>113.5737188</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.28416684</string>
			<key>lon</key>
			<string>113.5767843</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.28415084</string>
			<key>lon</key>
			<string>113.5769513</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.28381684</string>
			<key>lon</key>
			<string>113.5793343</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.28358384</string>
			<key>lon</key>
			<string>113.5816343</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.28340084</string>
			<key>lon</key>
			<string>113.5834843</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.28340084</string>
			<key>lon</key>
			<string>113.5848843</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.28355754</string>
			<key>lon</key>
			<string>113.5868195</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.28390754</string>
			<key>lon</key>
			<string>113.5879865</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.28485754</string>
			<key>lon</key>
			<string>113.5892865</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.28512454</string>
			<key>lon</key>
			<string>113.5895865</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.28564154</string>
			<key>lon</key>
			<string>113.5902195</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.28567454</string>
			<key>lon</key>
			<string>113.5902695</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.28625754</string>
			<key>lon</key>
			<string>113.5909525</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.28684154</string>
			<key>lon</key>
			<string>113.5912525</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.28684154</string>
			<key>lon</key>
			<string>113.5912525</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.28694154</string>
			<key>lon</key>
			<string>113.5910865</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.28779154</string>
			<key>lon</key>
			<string>113.5900525</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.28796259</string>
			<key>lon</key>
			<string>113.5899471</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.28894659</string>
			<key>lon</key>
			<string>113.5888131</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.28924659</string>
			<key>lon</key>
			<string>113.5883471</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.28932959</string>
			<key>lon</key>
			<string>113.5882631</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.29140561</string>
			<key>lon</key>
			<string>113.5864783</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.29295561</string>
			<key>lon</key>
			<string>113.5852623</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.29460561</string>
			<key>lon</key>
			<string>113.5838783</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.29658861</string>
			<key>lon</key>
			<string>113.5822953</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.29680561</string>
			<key>lon</key>
			<string>113.5821623</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.29889327</string>
			<key>lon</key>
			<string>113.580471</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.29996027</string>
			<key>lon</key>
			<string>113.579604</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.29997627</string>
			<key>lon</key>
			<string>113.579587</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.30141027</string>
			<key>lon</key>
			<string>113.578604</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.30377627</string>
			<key>lon</key>
			<string>113.577121</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.30656164</string>
			<key>lon</key>
			<string>113.5748724</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.30684464</string>
			<key>lon</key>
			<string>113.5746554</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.30801517</string>
			<key>lon</key>
			<string>113.5740103</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.30808117</string>
			<key>lon</key>
			<string>113.5739933</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.30811517</string>
			<key>lon</key>
			<string>113.5739773</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.30966517</string>
			<key>lon</key>
			<string>113.5733103</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.31261517</string>
			<key>lon</key>
			<string>113.5720433</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.31438117</string>
			<key>lon</key>
			<string>113.5708103</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.31484817</string>
			<key>lon</key>
			<string>113.5703103</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.31488117</string>
			<key>lon</key>
			<string>113.5702773</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.31488117</string>
			<key>lon</key>
			<string>113.5702603</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.31504817</string>
			<key>lon</key>
			<string>113.5700603</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.31563117</string>
			<key>lon</key>
			<string>113.5692273</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.31679817</string>
			<key>lon</key>
			<string>113.5675433</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.31870375</string>
			<key>lon</key>
			<string>113.5661691</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.31962075</string>
			<key>lon</key>
			<string>113.5657521</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.32297075</string>
			<key>lon</key>
			<string>113.5642851</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.32333775</string>
			<key>lon</key>
			<string>113.5640191</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.32455375</string>
			<key>lon</key>
			<string>113.5629351</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.32648775</string>
			<key>lon</key>
			<string>113.5607521</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.32852194</string>
			<key>lon</key>
			<string>113.5586136</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.33080304</string>
			<key>lon</key>
			<string>113.5565705</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.33135304</string>
			<key>lon</key>
			<string>113.5557875</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.33247004</string>
			<key>lon</key>
			<string>113.5537205</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.33332004</string>
			<key>lon</key>
			<string>113.5527375</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.33548704</string>
			<key>lon</key>
			<string>113.5512045</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.33647004</string>
			<key>lon</key>
			<string>113.5503375</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.33813704</string>
			<key>lon</key>
			<string>113.5495375</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.34015328</string>
			<key>lon</key>
			<string>113.548812</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.34025328</string>
			<key>lon</key>
			<string>113.548829</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.34058728</string>
			<key>lon</key>
			<string>113.548962</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.34103728</string>
			<key>lon</key>
			<string>113.549096</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.34157028</string>
			<key>lon</key>
			<string>113.548962</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.34165328</string>
			<key>lon</key>
			<string>113.548946</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.34197028</string>
			<key>lon</key>
			<string>113.548746</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.34217028</string>
			<key>lon</key>
			<string>113.548379</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.34247028</string>
			<key>lon</key>
			<string>113.547896</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.34263728</string>
			<key>lon</key>
			<string>113.547812</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.34293728</string>
			<key>lon</key>
			<string>113.547712</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.34418728</string>
			<key>lon</key>
			<string>113.546912</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.34528168</string>
			<key>lon</key>
			<string>113.5459609</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.34563168</string>
			<key>lon</key>
			<string>113.5454779</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.34633168</string>
			<key>lon</key>
			<string>113.5441279</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.34654868</string>
			<key>lon</key>
			<string>113.5432949</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.34716568</string>
			<key>lon</key>
			<string>113.5421449</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.34808168</string>
			<key>lon</key>
			<string>113.5408279</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.34828168</string>
			<key>lon</key>
			<string>113.5405609</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.35093204</string>
			<key>lon</key>
			<string>113.5378013</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.35348319</string>
			<key>lon</key>
			<string>113.5349497</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.35484919</string>
			<key>lon</key>
			<string>113.5330827</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.35608319</string>
			<key>lon</key>
			<string>113.5313327</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.35726619</string>
			<key>lon</key>
			<string>113.5295157</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.35808319</string>
			<key>lon</key>
			<string>113.5282657</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.35963149</string>
			<key>lon</key>
			<string>113.5263423</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.36159849</string>
			<key>lon</key>
			<string>113.5242923</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.36368149</string>
			<key>lon</key>
			<string>113.5217263</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.36493149</string>
			<key>lon</key>
			<string>113.5200763</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.36716549</string>
			<key>lon</key>
			<string>113.5177263</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.36896132</string>
			<key>lon</key>
			<string>113.5156417</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.36914432</string>
			<key>lon</key>
			<string>113.5154417</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.37141132</string>
			<key>lon</key>
			<string>113.5130757</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.37416132</string>
			<key>lon</key>
			<string>113.5103417</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.37666132</string>
			<key>lon</key>
			<string>113.5077087</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.37929281</string>
			<key>lon</key>
			<string>113.5043095</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.38007581</string>
			<key>lon</key>
			<string>113.5035935</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.38247581</string>
			<key>lon</key>
			<string>113.5020595</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.38535881</string>
			<key>lon</key>
			<string>113.5003265</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.38769281</string>
			<key>lon</key>
			<string>113.4992095</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.38769281</string>
			<key>lon</key>
			<string>113.4992095</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.39147899</string>
			<key>lon</key>
			<string>113.4981004</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.39531199</string>
			<key>lon</key>
			<string>113.4970664</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.39636199</string>
			<key>lon</key>
			<string>113.4969334</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.39966555</string>
			<key>lon</key>
			<string>113.4970103</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.40015324</string>
			<key>lon</key>
			<string>113.4968967</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.40143624</string>
			<key>lon</key>
			<string>113.4961637</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.40291924</string>
			<key>lon</key>
			<string>113.4948467</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.40363624</string>
			<key>lon</key>
			<string>113.4941637</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.40363624</string>
			<key>lon</key>
			<string>113.4941637</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.40381924</string>
			<key>lon</key>
			<string>113.4939307</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.40373624</string>
			<key>lon</key>
			<string>113.4936307</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.40341924</string>
			<key>lon</key>
			<string>113.4932307</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.40215324</string>
			<key>lon</key>
			<string>113.4920807</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.40168624</string>
			<key>lon</key>
			<string>113.4913637</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.40158624</string>
			<key>lon</key>
			<string>113.4907137</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.40291924</string>
			<key>lon</key>
			<string>113.4895307</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.40311924</string>
			<key>lon</key>
			<string>113.4893637</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.40315324</string>
			<key>lon</key>
			<string>113.4893467</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.40298624</string>
			<key>lon</key>
			<string>113.4894807</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.40261924</string>
			<key>lon</key>
			<string>113.4897807</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.40146924</string>
			<key>lon</key>
			<string>113.4908467</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.40148624</string>
			<key>lon</key>
			<string>113.4910967</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.40201924</string>
			<key>lon</key>
			<string>113.4918967</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.40308624</string>
			<key>lon</key>
			<string>113.4929307</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.40308624</string>
			<key>lon</key>
			<string>113.4929307</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.40375324</string>
			<key>lon</key>
			<string>113.4938807</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.40360324</string>
			<key>lon</key>
			<string>113.4940307</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.40173624</string>
			<key>lon</key>
			<string>113.4957637</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.40146924</string>
			<key>lon</key>
			<string>113.4959967</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.40103624</string>
			<key>lon</key>
			<string>113.4963467</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.39991924</string>
			<key>lon</key>
			<string>113.4968807</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.39884955</string>
			<key>lon</key>
			<string>113.4969933</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.39847899</string>
			<key>lon</key>
			<string>113.4969664</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.39676199</string>
			<key>lon</key>
			<string>113.4968334</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.39496199</string>
			<key>lon</key>
			<string>113.4971004</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.39477899</string>
			<key>lon</key>
			<string>113.4971664</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.39451199</string>
			<key>lon</key>
			<string>113.4975334</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.39466199</string>
			<key>lon</key>
			<string>113.4980664</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.39486199</string>
			<key>lon</key>
			<string>113.4987504</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.39486199</string>
			<key>lon</key>
			<string>113.4987504</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.39487899</string>
			<key>lon</key>
			<string>113.4987504</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.39489599</string>
			<key>lon</key>
			<string>113.4987504</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.39487899</string>
			<key>lon</key>
			<string>113.4987504</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.39486199</string>
			<key>lon</key>
			<string>113.4987504</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.39487899</string>
			<key>lon</key>
			<string>113.4987504</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.39487899</string>
			<key>lon</key>
			<string>113.4987334</string>
		</dict>
		<dict>
			<key>lat</key>
			<string>23.39487899</string>
			<key>lon</key>
			<string>113.4987334</string>
		</dict>
	</array>
</dict>
</plist>
